div
{
	height: 20em;width: 400;overflow: auto;border: solid gray 1px;padding:0.2em 0.2em;
}
div.modalPopupTransparent
{
	filter: alpha(opacity=50);    -moz-opacity: .75;    background: #CCCCCC;    position: absolute;    top: 0px;    left: 0px;
}
div.modalPopupWindow 
{
	position: absolute;    background-color: #FFFFFF;    border: 2px solid black;    padding: 8px;    text-align: left;
}