.navbar-brand,
.navbar-nav li a {
    line-height: 200px;
    height: 200px;
    padding-top: 10px;
}

body {
    background-color: #B7EDE8 !important;
}

.dropdown-menu {
    width: 500px !important;
}